@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

/*        LOGIN.PAGE         */
body{
  background: #add8e6;
  background-image: url('../images/point.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
}

.login{
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  width: 265px;
  margin: 50px auto;
  padding: 15px;
}

.login h1{
  font-size: 35px;
  color: #000;
  padding-bottom: 1vh;
}

.logo,
.logo-game{
  width: 10rem;
  animation: blink 1.2s linear infinite;
}

@keyframes blink{
  0% {opacity: 1;}
  50% {opacity: 0.6;}
  100% {opacity: 1;}
}

.login p{
  font-size: 18px;
  text-align: center;
  padding: 20px 15px;
  line-height: 30px;
}

#form-game{
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}

#username-form{
  display: flex;
  text-align: center;
  gap: 10px;
  align-items: center;
  color: #000;
  font-size: 20px;
  padding-bottom: 10px;
}

label{
  color: #b97a1a;
  font-size: 15px;
}

.input-form{
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #96d3da;
  padding: 5px 10px;
  text-transform: capitalize;
}

.input-form:focus{
  background-color: #96d3da;
}

.initial-btn{
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #134657;
  color: #fff;
  border-color: transparent;
  font-size: 15px;
}

.initial-btn:hover{
  background-color: #f3b558;
  color: #134657;
  font-weight: bold;
}

/*GAME - PAGE*/

header{
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  height: 100px;
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}

header h1{
  padding-left: 5px;
}

.logo-game{
  width: 5rem;
  animation: blink 1.5s linear infinite;
}

#hello{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 600px;
  height: 50px;
  padding-top: 5px;
  padding: 5px 10px;
  background-color:#fff;
  gap: 5rem;
  margin: 8px 0 0 0;
  border-radius: 10px;
  font-size: 20px;
}

.welcome{
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  text-align: right;
  text-transform: capitalize;
}

.progress{
  padding-top: 8px;
  margin-left: 0.5rem;
}

ul{
  padding: 0;
}

#title{
  display: flex;
  align-items: center;
  height: 80px;
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  margin: 8px 0;
  padding-left: 20px;
  text-transform: uppercase;
  line-height: 25px;
  text-align: left;

}

.answers{
  list-style: none;
  display: flex;
  align-items: center;
  text-align: left;
  width: 600px;
  height: 50px;
  background-color: #d2e8f0;
  margin: 8px 0;
  padding-left: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answers:hover{
  background-color: #134657;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s;
}

.answers.correct {
  background-color: #aad6aa;
  color: #000;
}

.answers.incorrect {
  background-color: #e7828d;
    color: #000;
}

#congrats {
  height: 40vh;
  width: 600px;
  background-color: #fff;
  border-radius: 25px;
  justify-content: center;
  color: #000;
  margin-top: 30px;
}

#congrats h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
  color: #c7880a;
}

#congrats p {
  text-align: center;
  font-size: 30px;
  padding-top: 5px
}

#congrats-btn {
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 50px;
text-align: center;
padding: 10px 15px;
}

#congrats-btn a, #footer-btn a{
  text-decoration: none;
}

#display-score {
  margin-block: 1rem;
  color: #c7880a;
  font-weight: bold;
}

#display-score span, #display-score p{
font-size: 50px;
font-weight: bold;
}

.hidden{
display: none;
}

#footer-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    gap: 20px;
}

#message{
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  width: 280px;
  margin: 50px auto;
  padding: 30px;
}

#message h2{
  font-size: 25px;
  color: #000;
  padding-bottom: 2vh;
  padding-top: 1vh;
}

#message p{
  font-size: 18px;
  color: #000;
  padding-bottom: 1vh;
}


/* MOBILES */
@media screen and (max-width: 480px) {
  .login{
    width: 15rem;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .login h1 {
    font-size: 35px;
    padding-bottom: 15px;
  }
    
  .logo {
    width: 8rem;
    animation: blink 1.5s linear infinite;
  } 
  
  #hello{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 19rem;
    height: 80px;
    font-size: 16px;
    gap: 5px;
  }
  
  #progress{
    padding-bottom: 5px;
  }
    
  .login p {
    font-size: 18px;
  }
  #username-form {
    font-size: 15px;
  }
    
  .input-form {
    font-size: 10px;
  }
    
  .initial-btn, .content a {
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 5px;
  }
    
  /* game.html*/
  main{
    height: auto;
    margin: 10px 20px;
  } 
  
  header {
    margin-top: unset;
    font-size: 15px;
    width: 19rem;
    height: 50px;
    border-radius: 10px;
  }
  
  header h1{
    font-size: 25px;
  }
  
  .logo-game{
    width: 4rem;
  }
  
  #hello {
    font-size: 14px;
    justify-items: center;
    line-height: 5px;
    height: 45px;
  }
  
  #title {
    width: 19rem;
    font-size: 13px;
    border-radius: 10px;
    height: 50px;
    line-height: 15px;
  }
    
  .answers {
    width: 19rem;
    font-size: 12px;
    border-radius: 10px;
    height: 30px;
  }
    
  #footer-btn{
    padding: 5px 10px;
    font-size: 20px;
  }

  #congrats{
    width: 19rem;
    height: auto;
    margin-bottom: unset;
    margin-top: unset;
    border-radius: 10px;
  }
  
  #congrats h2{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #c7880a;
  }
  
  #congrats p{
    font-size: 16px;
  }
  
  #display-score span, #display-score{
    font-size: 30px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1500px) {
#congrats{
  height: auto;
}

}


